
@model List<Statistics>
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Table</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Stastics</th>
                                <th scope="col">Name </th>
                                <th scope="col">Duration</th>
                                <th scope="col">Edit</th>
                                
                                <th scope="col">Details</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                @if (Model.Count != 0){
                                    @foreach(var data  in Model )
                                    {
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>@data.Statistic</td>
                                            <td>@data.StatisticsName</td>
                                            <td>@data.StatisticsDuration</td>
                                            <td> <a href="update/@data.Id">Edit</a></td>
                                            <td> <a href="details/@data.Id">Details</a></td>
                                            <td>
                                             <form asp-controller="Forms"  asp-action="DeleteForm" asp-area="Admin" asp-route-id="@data.Id" method="post">
                                           
                                            <button type="submit"   style="color:#fff !important; background:none; border:none ; outline:none   ">Delete</button>
                                                </form>
                                            </td>
                                          
                                            

                                        </tr>

                                    }
                                }else{
                                     <tr>
                                     <th>Not Found</th>
                                     </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>